code/node-red-save/SystemInfo/node-red-script-systeminfo.txt
[{"id":"fd2b4df2.d77c7","type":"inject","z":"64fbf673.f06ce8","name":"update","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"","x":94,"y":245,"wires":[["5e8d18e7.3e3eb8","d81c16ba.fea8c8","8c9946f6.c65338","a74cafae.dac96","a8f72d1d.72984"]]},{"id":"a86bbd5c.25f2d","type":"function","z":"64fbf673.f06ce8","name":"","func":"msg.payload = msg.payload.loadavg[0];\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":105,"wires":[["2afc4fd8.09ed2"]]},{"id":"a8253c04.879f6","type":"function","z":"64fbf673.f06ce8","name":"","func":"msg.payload = msg.payload.loadavg[1];\nreturn msg;","outputs":1,"noerr":0,"x":334,"y":143,"wires":[["a71fb44.37c4c48"]]},{"id":"b9fb0a87.0081a8","type":"function","z":"64fbf673.f06ce8","name":"","func":"msg.payload = msg.payload.loadavg[2];\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":186,"wires":[["74ad18d7.d89168"]]},{"id":"2afc4fd8.09ed2","type":"ui_gauge","z":"64fbf673.f06ce8","name":"CPU Load 1","group":"7f17603b.d2e4c","order":1,"width":"0","height":"0","gtype":"gage","title":"1 Minute","label":"load","format":"{{value | number:2}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":501,"y":104,"wires":[]},{"id":"a71fb44.37c4c48","type":"ui_gauge","z":"64fbf673.f06ce8","name":"CPU Load 2","group":"7f17603b.d2e4c","order":2,"width":"3","height":"3","gtype":"gage","title":"5 Minutes","label":"load","format":"{{value | number:2}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":501,"y":145,"wires":[]},{"id":"74ad18d7.d89168","type":"ui_gauge","z":"64fbf673.f06ce8","name":"CPU Load 3","group":"7f17603b.d2e4c","order":3,"width":"3","height":"3","gtype":"gage","title":"15 Minutes","label":"load","format":"{{value | number:2}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":499,"y":187,"wires":[]},{"id":"64b6e60f.eb3b28","type":"function","z":"64fbf673.f06ce8","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":116,"y":699,"wires":[["fe788423.cc6848"]]},{"id":"fe788423.cc6848","type":"ui_gauge","z":"64fbf673.f06ce8","name":"Memory Usage","group":"5a93543c.b0e3cc","order":1,"width":"0","height":"0","gtype":"gage","title":"1 Minute","label":"Usage","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":703,"wires":[]},{"id":"c3cf7db1.4a8a2","type":"function","z":"64fbf673.f06ce8","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":118,"y":742,"wires":[["9b672106.4546e"]]},{"id":"da84a3d6.8ea98","type":"function","z":"64fbf673.f06ce8","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":116,"y":788,"wires":[["23f8a3c3.3b77ac"]]},{"id":"9b672106.4546e","type":"ui_text","z":"64fbf673.f06ce8","group":"5a93543c.b0e3cc","order":3,"width":"0","height":"0","name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":299,"y":746,"wires":[]},{"id":"23f8a3c3.3b77ac","type":"ui_text","z":"64fbf673.f06ce8","group":"5a93543c.b0e3cc","order":2,"width":"0","height":"0","name":"","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":303,"y":789,"wires":[]},{"id":"25031540.3a589a","type":"function","z":"64fbf673.f06ce8","name":"","func":"function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":406,"y":353,"wires":[["cb407ccb.14752"]]},{"id":"cb407ccb.14752","type":"ui_text","z":"64fbf673.f06ce8","group":"f8cb3845.296f08","order":3,"width":"0","height":"0","name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":561,"y":352,"wires":[]},{"id":"ffdb7e81.d575b","type":"function","z":"64fbf673.f06ce8","name":"","func":"msg.payload = msg.payload.hostname;\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":390,"wires":[["48b311c1.e1106"]]},{"id":"48b311c1.e1106","type":"ui_text","z":"64fbf673.f06ce8","group":"f8cb3845.296f08","order":4,"width":"0","height":"0","name":"","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":573,"y":392,"wires":[]},{"id":"c7ea42f8.e092f","type":"function","z":"64fbf673.f06ce8","name":"","func":"msg.payload = msg.payload.platform;\nreturn msg;","outputs":1,"noerr":0,"x":407,"y":428,"wires":[["3f0a3d83.995d32"]]},{"id":"3f0a3d83.995d32","type":"ui_text","z":"64fbf673.f06ce8","group":"f8cb3845.296f08","order":5,"width":"0","height":"0","name":"","label":"Platform","format":"{{msg.payload}}","layout":"row-spread","x":569,"y":431,"wires":[]},{"id":"5888d748.ae85e8","type":"function","z":"64fbf673.f06ce8","name":"","func":"msg.payload = msg.payload.arch;\nreturn msg;","outputs":1,"noerr":0,"x":408,"y":467,"wires":[["429a5855.646b38"]]},{"id":"429a5855.646b38","type":"ui_text","z":"64fbf673.f06ce8","group":"f8cb3845.296f08","order":6,"width":"0","height":"0","name":"","label":"Arch","format":"{{msg.payload}}","layout":"row-spread","x":557,"y":471,"wires":[]},{"id":"6dd4e8ed.04fe68","type":"function","z":"64fbf673.f06ce8","name":"","func":"msg.payload = msg.payload.release;\nreturn msg;","outputs":1,"noerr":0,"x":409,"y":503,"wires":[["4969e9b9.ec3e58"]]},{"id":"4969e9b9.ec3e58","type":"ui_text","z":"64fbf673.f06ce8","group":"f8cb3845.296f08","order":7,"width":"0","height":"0","name":"","label":"Release","format":"{{msg.payload}}","layout":"row-spread","x":569,"y":509,"wires":[]},{"id":"b3ec5590.bbd9d8","type":"function","z":"64fbf673.f06ce8","name":"","func":"msg.payload = msg.payload.cpus[0].model;\nreturn msg;","outputs":1,"noerr":0,"x":408,"y":544,"wires":[["519ed9da.161df8","e4fb2f72.1f41d","4c149688.dff188","5e771feb.7e515"]]},{"id":"519ed9da.161df8","type":"ui_text","z":"64fbf673.f06ce8","group":"f8cb3845.296f08","order":8,"width":"0","height":"0","name":"","label":"CPU 1","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":552,"wires":[]},{"id":"e4fb2f72.1f41d","type":"ui_text","z":"64fbf673.f06ce8","group":"f8cb3845.296f08","order":9,"width":"0","height":"0","name":"","label":"CPU 2","format":"{{msg.payload}}","layout":"row-spread","x":562,"y":591,"wires":[]},{"id":"4c149688.dff188","type":"ui_text","z":"64fbf673.f06ce8","group":"f8cb3845.296f08","order":10,"width":"0","height":"0","name":"","label":"CPU 3","format":"{{msg.payload}}","layout":"row-spread","x":564,"y":632,"wires":[]},{"id":"5e771feb.7e515","type":"ui_text","z":"64fbf673.f06ce8","group":"f8cb3845.296f08","order":11,"width":"0","height":"0","name":"","label":"CPU 4","format":"{{msg.payload}}","layout":"row-spread","x":566,"y":672,"wires":[]},{"id":"26aacddb.e3c1d2","type":"function","z":"64fbf673.f06ce8","name":"","func":"msg.payload = msg.payload.loadavg[0];\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":229,"wires":[["2bc6e1bc.157fce"]]},{"id":"2bc6e1bc.157fce","type":"ui_chart","z":"64fbf673.f06ce8","name":"CPU Load - Historical","group":"7f17603b.d2e4c","order":4,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":530,"y":229,"wires":[[],[]]},{"id":"530edfa6.ae6c2","type":"function","z":"64fbf673.f06ce8","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":113,"y":660,"wires":[["581773f.93ba08c"]]},{"id":"581773f.93ba08c","type":"ui_chart","z":"64fbf673.f06ce8","name":"Memory - 24 Hours","group":"5a93543c.b0e3cc","order":4,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":311,"y":663,"wires":[[],[]]},{"id":"b9bb3dc2.f00e8","type":"comment","z":"64fbf673.f06ce8","name":"CPU Load","info":"","x":488,"y":57,"wires":[]},{"id":"f72a1c7c.f3239","type":"comment","z":"64fbf673.f06ce8","name":"Memory Usage","info":"","x":296,"y":613,"wires":[]},{"id":"86b5835b.2fb49","type":"comment","z":"64fbf673.f06ce8","name":"System Information","info":"","x":587,"y":302,"wires":[]},{"id":"5e8d18e7.3e3eb8","type":"OS","z":"64fbf673.f06ce8","name":"","x":234,"y":398,"wires":[["ffdb7e81.d575b","c7ea42f8.e092f","5888d748.ae85e8","6dd4e8ed.04fe68"]]},{"id":"d81c16ba.fea8c8","type":"Uptime","z":"64fbf673.f06ce8","name":"","x":245,"y":353,"wires":[["25031540.3a589a"]]},{"id":"8c9946f6.c65338","type":"CPUs","z":"64fbf673.f06ce8","name":"","x":234,"y":443,"wires":[["b3ec5590.bbd9d8"]]},{"id":"a74cafae.dac96","type":"Loadavg","z":"64fbf673.f06ce8","name":"","x":171,"y":165,"wires":[["a86bbd5c.25f2d","a8253c04.879f6","b9fb0a87.0081a8","26aacddb.e3c1d2"]]},{"id":"a8f72d1d.72984","type":"Memory","z":"64fbf673.f06ce8","name":"","x":111,"y":531,"wires":[["64b6e60f.eb3b28","c3cf7db1.4a8a2","da84a3d6.8ea98","530edfa6.ae6c2","397ad361.802c2c","49cb2bd6.5fb8f4"]]},{"id":"397ad361.802c2c","type":"function","z":"64fbf673.f06ce8","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":547,"y":748,"wires":[["14c8e594.d295ca"]]},{"id":"49cb2bd6.5fb8f4","type":"function","z":"64fbf673.f06ce8","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":545,"y":794,"wires":[["23c4f76.0607908"]]},{"id":"14c8e594.d295ca","type":"ui_text","z":"64fbf673.f06ce8","group":"3048d3fb.b3569c","order":3,"width":"0","height":"0","name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":728,"y":752,"wires":[]},{"id":"23c4f76.0607908","type":"ui_text","z":"64fbf673.f06ce8","group":"3048d3fb.b3569c","order":2,"width":"0","height":"0","name":"","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":732,"y":795,"wires":[]},{"id":"7f17603b.d2e4c","type":"ui_group","z":"","name":"CPU Load","tab":"e5e7055b.866478","order":2,"disp":true,"width":"6"},{"id":"5a93543c.b0e3cc","type":"ui_group","z":"","name":"Memory","tab":"e5e7055b.866478","order":3,"disp":true,"width":"6","collapse":false},{"id":"f8cb3845.296f08","type":"ui_group","z":"","name":"System Information","tab":"e5e7055b.866478","order":1,"disp":true,"width":"6"},{"id":"3048d3fb.b3569c","type":"ui_group","z":"","name":"Memory RAM","tab":"5c8c4c92.0e3a94","order":3,"disp":true,"width":"6","collapse":false},{"id":"e5e7055b.866478","type":"ui_tab","z":"","name":"System","icon":"computer","order":1},{"id":"5c8c4c92.0e3a94","type":"ui_tab","z":"","name":"Capteurs RPi","icon":"dashboard","order":2}]