code/node-red-save/flow/node-red-script.txt
[{"id":"bfc47a8d.54b7c8","type":"inject","z":"40a2ed.204d5d14","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":420,"wires":[["b1137c31.c87e7","f93607f9.c9dab8","a05e498d.570d18","5f22357a.eeee6c","338e85c.2b1e67a","83cb0ca4.0c4b3","4df5cb4c.285da4","b5dbdc79.50cf7","1af1b5ac.fd5a8a","6a7cd8f3.d9ba88","c4620c4e.83599","5fb6e5cf.5f435c"]]},{"id":"b1137c31.c87e7","type":"exec","z":"40a2ed.204d5d14","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"temperature","x":370,"y":476,"wires":[["f1ccf064.87c2c"],[],[]]},{"id":"f1ccf064.87c2c","type":"function","z":"40a2ed.204d5d14","name":"CPU T.","func":"str = msg.payload\nmsg.payload = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":476,"wires":[["d98a7bc3.f90208","a4b961f0.f50a5"]]},{"id":"d98a7bc3.f90208","type":"ui_gauge","z":"40a2ed.204d5d14","name":"CPU TEMP","group":"3003787f.3d15c8","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU Temp.","label":"°C","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":476,"wires":[]},{"id":"a4b961f0.f50a5","type":"ui_chart","z":"40a2ed.204d5d14","name":"","group":"3003787f.3d15c8","order":2,"width":0,"height":0,"label":"Temp. graphic","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":780,"y":516,"wires":[[],[]]},{"id":"ed2c4b91.ad99e8","type":"ui_button","z":"40a2ed.204d5d14","name":"Restart","group":"4044cd20.78be74","order":10,"width":0,"height":0,"passthru":false,"label":"Restart","color":"","bgcolor":"LightGreen","icon":"fa-retweet","payload":"","payloadType":"str","topic":"","x":406,"y":4782,"wires":[["bb20c1d6.53a6a"]]},{"id":"bb20c1d6.53a6a","type":"exec","z":"40a2ed.204d5d14","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Restart the RPi","x":798,"y":4782,"wires":[[],[],[]]},{"id":"297462cf.7fc57e","type":"exec","z":"40a2ed.204d5d14","command":"sudo python /var/www/html/alarm.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ON alarm script","x":758,"y":2217,"wires":[[],[],[]]},{"id":"13ef7ed4.4546c1","type":"ui_switch","z":"40a2ed.204d5d14","name":"Light 1","label":"Light 1","group":"f87b783c.658dc8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":357,"y":1491,"wires":[["55c277d9.2f17e8"]]},{"id":"55c277d9.2f17e8","type":"rpi-gpio out","z":"40a2ed.204d5d14","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":738,"y":1491,"wires":[]},{"id":"630a7ac5.391114","type":"ui_slider","z":"40a2ed.204d5d14","name":"","label":"Light Brightness ","group":"f87b783c.658dc8","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":387,"y":1728,"wires":[["f654d92f.2231f8","7d513d89.726904"]]},{"id":"f654d92f.2231f8","type":"rpi-gpio out","z":"40a2ed.204d5d14","name":"","pin":"15","set":"","level":"0","freq":"","out":"pwm","x":734,"y":1688,"wires":[]},{"id":"a05e498d.570d18","type":"exec","z":"40a2ed.204d5d14","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\" | tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"load","x":350,"y":529,"wires":[["4633f0db.0db91","4d58500e.e4fc"],[],[]]},{"id":"f93607f9.c9dab8","type":"exec","z":"40a2ed.204d5d14","command":"free | grep Mem | awk '{print $3/$2 * 100.0}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"RAM memory","x":380,"y":638,"wires":[["5bf23a3d.bde4a4"],[],[]]},{"id":"4633f0db.0db91","type":"ui_gauge","z":"40a2ed.204d5d14","name":"","group":"8f861f58.38f9a","order":1,"width":0,"height":0,"gtype":"donut","title":"CPU LOAD","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":560,"wires":[]},{"id":"5fb6e5cf.5f435c","type":"ui_date_picker","z":"40a2ed.204d5d14","name":"date","label":"","group":"f8cb3845.296f08","order":2,"width":0,"height":0,"passthru":false,"topic":"","x":748,"y":408,"wires":[[]]},{"id":"5f22357a.eeee6c","type":"exec","z":"40a2ed.204d5d14","command":"date","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"date","x":350,"y":370,"wires":[["edb38e2e.9c24a"],[],[]]},{"id":"edb38e2e.9c24a","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"date","group":"f8cb3845.296f08","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":750,"y":370,"wires":[[]]},{"id":"14735525.949beb","type":"ui_gauge","z":"40a2ed.204d5d14","name":"Memory ROM","group":"46375daf.1f23a4","order":1,"width":0,"height":0,"gtype":"donut","title":"Memory ROM","label":"% used","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":700,"wires":[]},{"id":"338e85c.2b1e67a","type":"exec","z":"40a2ed.204d5d14","command":"df -k / | awk -v col=5 'NR > 1 {sub( \"%\", \"\", $col); print $col }'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Memory ROM","x":380,"y":700,"wires":[["14735525.949beb"],[],[]]},{"id":"5bf23a3d.bde4a4","type":"ui_gauge","z":"40a2ed.204d5d14","name":"Memory RAM","group":"3048d3fb.b3569c","order":1,"width":0,"height":0,"gtype":"gage","title":"Memory RAM","label":"% used","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":638,"wires":[]},{"id":"83cb0ca4.0c4b3","type":"exec","z":"40a2ed.204d5d14","command":"df -h / | awk -v col=3 'NR > 1 {sub( \"G\", \"\", $col); print $col }'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Memory ROM (used)","x":400,"y":760,"wires":[["afd8a523.0ef1c8"],[],[]]},{"id":"4df5cb4c.285da4","type":"exec","z":"40a2ed.204d5d14","command":"df -h / | awk -v col=4 'NR > 1 {sub( \"G\", \"\", $col); print $col }'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Memory ROM (available)","x":410,"y":820,"wires":[["c5ca2462.96dfe8"],[],[]]},{"id":"afd8a523.0ef1c8","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"Used Memory (Gb)","group":"46375daf.1f23a4","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":770,"y":760,"wires":[[]]},{"id":"c5ca2462.96dfe8","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"Free Memory (Gb)","group":"46375daf.1f23a4","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":770,"y":820,"wires":[[]]},{"id":"b5dbdc79.50cf7","type":"exec","z":"40a2ed.204d5d14","command":"df -h / | awk -v col=2 'NR > 1 {sub( \"G\", \"\", $col); print $col }'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Memory ROM (total)","x":400,"y":880,"wires":[["70ffa7af.66ed78"],[],[]]},{"id":"70ffa7af.66ed78","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"TOTAL Memory (Gb)","group":"46375daf.1f23a4","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":780,"y":880,"wires":[[]]},{"id":"1e2c80fb.37c19f","type":"function","z":"40a2ed.204d5d14","name":"","func":"function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":980,"wires":[["2a9056e6.8bd9ba"]]},{"id":"2a9056e6.8bd9ba","type":"ui_text","z":"40a2ed.204d5d14","group":"4044cd20.78be74","order":2,"width":"0","height":"0","name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":980,"wires":[]},{"id":"e60bcc14.94a16","type":"function","z":"40a2ed.204d5d14","name":"","func":"msg.payload = msg.payload.hostname;\nreturn msg;","outputs":1,"noerr":0,"x":529,"y":1017,"wires":[["e4a5c63c.a33198"]]},{"id":"e4a5c63c.a33198","type":"ui_text","z":"40a2ed.204d5d14","group":"4044cd20.78be74","order":1,"width":"0","height":"0","name":"","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":1016,"wires":[]},{"id":"a62b7fa8.586b","type":"function","z":"40a2ed.204d5d14","name":"","func":"msg.payload = msg.payload.platform;\nreturn msg;","outputs":1,"noerr":0,"x":531,"y":1055,"wires":[["177b06a3.20beb9"]]},{"id":"177b06a3.20beb9","type":"ui_text","z":"40a2ed.204d5d14","group":"4044cd20.78be74","order":3,"width":"0","height":"0","name":"","label":"Platform","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":1060,"wires":[]},{"id":"27c14b7e.2ed744","type":"function","z":"40a2ed.204d5d14","name":"","func":"msg.payload = msg.payload.arch;\nreturn msg;","outputs":1,"noerr":0,"x":532,"y":1094,"wires":[["7dfbdfd.a63302"]]},{"id":"7dfbdfd.a63302","type":"ui_text","z":"40a2ed.204d5d14","group":"4044cd20.78be74","order":4,"width":"0","height":"0","name":"","label":"Arch","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1100,"wires":[]},{"id":"a5388e86.09267","type":"function","z":"40a2ed.204d5d14","name":"","func":"msg.payload = msg.payload.release;\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":1130,"wires":[["dbec557d.aafac8"]]},{"id":"dbec557d.aafac8","type":"ui_text","z":"40a2ed.204d5d14","group":"4044cd20.78be74","order":5,"width":"0","height":"0","name":"","label":"Release","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":1140,"wires":[]},{"id":"836e188c.978b18","type":"function","z":"40a2ed.204d5d14","name":"","func":"msg.payload = msg.payload.cpus[0].model;\nreturn msg;","outputs":1,"noerr":0,"x":532,"y":1171,"wires":[["c5827fbb.09294","7446f85e.7d94e8","5ffb0e9e.8170e","3504ab5a.15c034"]]},{"id":"c5827fbb.09294","type":"ui_text","z":"40a2ed.204d5d14","group":"4044cd20.78be74","order":6,"width":"0","height":"0","name":"","label":"CPU 1","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1180,"wires":[]},{"id":"7446f85e.7d94e8","type":"ui_text","z":"40a2ed.204d5d14","group":"4044cd20.78be74","order":7,"width":"0","height":"0","name":"","label":"CPU 2","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1220,"wires":[]},{"id":"5ffb0e9e.8170e","type":"ui_text","z":"40a2ed.204d5d14","group":"4044cd20.78be74","order":8,"width":"0","height":"0","name":"","label":"CPU 3","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1260,"wires":[]},{"id":"3504ab5a.15c034","type":"ui_text","z":"40a2ed.204d5d14","group":"4044cd20.78be74","order":9,"width":"0","height":"0","name":"","label":"CPU 4","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1300,"wires":[]},{"id":"11251be5.bc57d4","type":"comment","z":"40a2ed.204d5d14","name":"Memory Usage","info":"","x":380,"y":584,"wires":[]},{"id":"6a7cd8f3.d9ba88","type":"OS","z":"40a2ed.204d5d14","name":"","x":358,"y":1025,"wires":[["e60bcc14.94a16","a62b7fa8.586b","27c14b7e.2ed744","a5388e86.09267"]]},{"id":"1af1b5ac.fd5a8a","type":"Uptime","z":"40a2ed.204d5d14","name":"","x":369,"y":980,"wires":[["1e2c80fb.37c19f"]]},{"id":"c4620c4e.83599","type":"CPUs","z":"40a2ed.204d5d14","name":"","x":358,"y":1070,"wires":[["836e188c.978b18"]]},{"id":"83b5328b.37619","type":"comment","z":"40a2ed.204d5d14","name":"CPU Information","info":"","x":380,"y":424,"wires":[]},{"id":"2db86238.03442e","type":"comment","z":"40a2ed.204d5d14","name":"Date & Calendar","info":"","x":380,"y":320,"wires":[]},{"id":"b48283d.f945c8","type":"comment","z":"40a2ed.204d5d14","name":"System Information","info":"","x":395,"y":940,"wires":[]},{"id":"961a26bc.a3cd28","type":"rpi-gpio out","z":"40a2ed.204d5d14","name":"","pin":"13","set":true,"level":"0","freq":"","out":"out","x":737.5714111328125,"y":1604,"wires":[]},{"id":"8687ae7.aabf85","type":"ui_switch","z":"40a2ed.204d5d14","name":"Light 2","label":"Light 2","group":"f87b783c.658dc8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":356,"y":1548,"wires":[["6dfff802.acd1b8"]]},{"id":"6dfff802.acd1b8","type":"rpi-gpio out","z":"40a2ed.204d5d14","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":737,"y":1548,"wires":[]},{"id":"7d513d89.726904","type":"ui_gauge","z":"40a2ed.204d5d14","name":"","group":"f87b783c.658dc8","order":5,"width":0,"height":0,"gtype":"compass","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":1772,"wires":[]},{"id":"173de55b.5973db","type":"ui_button","z":"40a2ed.204d5d14","name":"","group":"eb9edb9e.4ba748","order":2,"width":0,"height":0,"passthru":false,"label":"Deep Learning","color":"","bgcolor":"","icon":"fa-cogs","payload":"","payloadType":"str","topic":"","x":384,"y":3063,"wires":[["7a8ccca3.9d7ab4","50ff9bb9.00df84"]]},{"id":"7a8ccca3.9d7ab4","type":"exec","z":"40a2ed.204d5d14","command":"cd /home/pi/pi-deep-learning/; ./deep_learning_script.sh | bash","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cmd-deep-learning-openCV","x":797,"y":3063,"wires":[[],[],[]]},{"id":"d2fd411f.8ad01","type":"ui_button","z":"40a2ed.204d5d14","name":"","group":"4d185812.bed448","order":5,"width":0,"height":0,"passthru":false,"label":"Capture Snapshot","color":"","bgcolor":"","icon":"fa-camera","payload":"","payloadType":"str","topic":"","x":398,"y":2362,"wires":[["1e5b7e47.9530a2","d2b0c36d.94cf2"]]},{"id":"1e5b7e47.9530a2","type":"exec","z":"40a2ed.204d5d14","command":"raspistill -o /home/pi/pi-deep-learning/images/image.jpg --vflip","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cmd-capture","x":752,"y":2362,"wires":[["532da8cf.4af4f8","b50cc0bc.4eda1"],[],[]]},{"id":"d8e0ffdc.537ad","type":"inject","z":"40a2ed.204d5d14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":262.1111755371094,"y":2460.6666498184204,"wires":[["d2fd411f.8ad01"]]},{"id":"a0dcc6a6.4cb198","type":"exec","z":"40a2ed.204d5d14","command":"sudo cat /home/pi/pi-deep-learning/deep_learning_analysis.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Deep learning analysis","x":846.6666412353516,"y":3270.3332195281982,"wires":[["2daf45c1.1cff2a"],[],[]]},{"id":"962f3321.49bcf","type":"ui_button","z":"40a2ed.204d5d14","name":"","group":"eb9edb9e.4ba748","order":3,"width":0,"height":0,"passthru":false,"label":"Display Deep learning analysis","color":"","bgcolor":"","icon":"fa-eye","payload":"","payloadType":"str","topic":"","x":337,"y":3151,"wires":[["a0dcc6a6.4cb198","e6bfd1ef.a6298","64a294f9.bae83c","f1960d0e.58e5f","926664db.871ae8","32e3c62c.669f0a"]]},{"id":"bef20064.9a682","type":"ui_button","z":"40a2ed.204d5d14","name":"","group":"4d185812.bed448","order":3,"width":"3","height":"1","passthru":false,"label":"ALARM ON","color":"black","bgcolor":"green","icon":"fa-bell","payload":"true","payloadType":"bool","topic":"","x":376,"y":2220,"wires":[["297462cf.7fc57e","5e92dcce.bd6874"]]},{"id":"c821d852.b38ef8","type":"ui_button","z":"40a2ed.204d5d14","name":"","group":"4d185812.bed448","order":4,"width":"3","height":"1","passthru":false,"label":"ALARM OFF","color":"black","bgcolor":"red","icon":"fa-bell-slash","payload":"","payloadType":"str","topic":"","x":378,"y":2154,"wires":[["8a4054af.ba0c28","93589ba4.ea67d8"]]},{"id":"8a4054af.ba0c28","type":"exec","z":"40a2ed.204d5d14","command":"sudo pkill -f alarm.py | gpio -g write 17 0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stop alarm script","x":768,"y":2152,"wires":[["66106f41.1a441"],[],[]]},{"id":"5e92dcce.bd6874","type":"exec","z":"40a2ed.204d5d14","command":"sudo aplay /home/pi/music/siren_noise.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play audio - alarm","x":771,"y":2291,"wires":[[],[],[]]},{"id":"93589ba4.ea67d8","type":"exec","z":"40a2ed.204d5d14","command":"sudo pkill -f aplay; ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stop alarm audio","x":766,"y":2068,"wires":[[],[],[]]},{"id":"1b4e2981.d8bd76","type":"comment","z":"40a2ed.204d5d14","name":"Manual Light control","info":"","x":391,"y":1439,"wires":[]},{"id":"ea6927a.93f9dd8","type":"comment","z":"40a2ed.204d5d14","name":"Security Mode","info":"","x":392,"y":2049,"wires":[]},{"id":"b4ad62cf.b0eae","type":"comment","z":"40a2ed.204d5d14","name":"Deep Learning","info":"","x":383,"y":3018,"wires":[]},{"id":"b96bcae7.b099f8","type":"comment","z":"40a2ed.204d5d14","name":"Restart","info":"","x":397,"y":4751,"wires":[]},{"id":"174d05bf.3d15ca","type":"inject","z":"40a2ed.204d5d14","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":503.44439697265625,"y":2484.111328125,"wires":[["8c10a256.b0c9d"]]},{"id":"8c10a256.b0c9d","type":"function","z":"40a2ed.204d5d14","name":"reload capture url","func":"msg.payload = \"/image.jpg\"\nmsg.payload += \"?ts=\"+Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":735.1111297607422,"y":2428.888874053955,"wires":[["532da8cf.4af4f8","b50cc0bc.4eda1"]]},{"id":"532da8cf.4af4f8","type":"ui_template","z":"40a2ed.204d5d14","group":"4d185812.bed448","name":"display-capture","order":7,"width":"6","height":"5","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div align=\"center\">\n            <img ng-src=\"{{msg.payload}}\" width=\"280\"><br/>\n            <md-button href=\"/image.jpg\" target=\"_blank\" class=\"md-raised md-warn\">FULL SCREEN</md-button>\n            <md-button href=\"http://192.168.0.48:5000\" target=\"_blank\" class=\"md-raised md-warn\">LIVE CAMERA</md-button>\n            <!-- <div ng-bind-html=\"msg.payload\"></div> -->\n        </div>\n        \n    </body>\n </html>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1049,"y":2448,"wires":[[]]},{"id":"6e7d717.8ad2f9","type":"ui_switch","z":"40a2ed.204d5d14","name":"Light 3","label":"Light 3","group":"f87b783c.658dc8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":356.5714111328125,"y":1604,"wires":[["961a26bc.a3cd28"]]},{"id":"ac274f8b.3642c","type":"ui_button","z":"40a2ed.204d5d14","name":"RFID Reader","group":"5dacab37.6a5484","order":1,"width":0,"height":0,"passthru":false,"label":"RFID Reader","color":"","bgcolor":"","icon":"fa-microchip","payload":"","payloadType":"str","topic":"","x":389,"y":3801.4443359375,"wires":[["340b05cf.7c3e5a"]]},{"id":"340b05cf.7c3e5a","type":"exec","z":"40a2ed.204d5d14","command":"export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH; cd /home/pi/rfid_reader/Access_Control; ./Access_Control > /home/pi/rfid_reader/Access_Control/access_control.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Activate RFID Reader","x":791,"y":3801.4443359375,"wires":[["c1558ae3.3b97a8","cf9ae012.33068","7136190a.d0c448","c6ce517d.43059","d06af21e.a68a2","3b45f121.b324ce","3499d1af.78fb8e"],[],[]]},{"id":"4b0b967e.7e5838","type":"comment","z":"40a2ed.204d5d14","name":"RFID : Door blocked/unblocked","info":"","x":450,"y":3770.4443359375,"wires":[]},{"id":"8d867e28.193af","type":"ui_button","z":"40a2ed.204d5d14","name":"","group":"4d185812.bed448","order":6,"width":0,"height":0,"passthru":false,"label":"refresh","color":"","bgcolor":"","icon":"fa-refresh","payload":"","payloadType":"str","topic":"","x":461,"y":2433,"wires":[["8c10a256.b0c9d","99567a35.4e1468"]]},{"id":"263b2a3.de53ad6","type":"ui_button","z":"40a2ed.204d5d14","name":"Shutdown","group":"4044cd20.78be74","order":11,"width":0,"height":0,"passthru":false,"label":"Shutdown","color":"","bgcolor":"coral","icon":"fa-power-off","payload":"","payloadType":"str","topic":"","x":403,"y":4842,"wires":[["7eb984b1.bea3dc","480c92d6.162fdc"]]},{"id":"32d290ef.9f31f","type":"exec","z":"40a2ed.204d5d14","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Shutdown the RPi","x":805,"y":4842,"wires":[[],[],[]]},{"id":"3f63201a.05403","type":"comment","z":"40a2ed.204d5d14","name":"Turn OFF","info":"","x":404,"y":4811,"wires":[]},{"id":"66106f41.1a441","type":"exec","z":"40a2ed.204d5d14","command":"gpio -g write 17 0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Confirm Stop alarm","x":986,"y":2152,"wires":[[],[],[]]},{"id":"6fa8d940.2d8e08","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"ISO14443_3_A_PollCard","group":"5dacab37.6a5484","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":1114,"y":3908,"wires":[[]]},{"id":"2bd11547.a41aaa","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"Card Reader Activation","group":"5dacab37.6a5484","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":1114,"y":3847,"wires":[[]]},{"id":"e13365b8.f010e8","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"Version","group":"5dacab37.6a5484","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":1064,"y":3968,"wires":[[]]},{"id":"93c94189.40dfb","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"Nom","group":"5dacab37.6a5484","order":5,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":1055,"y":4023,"wires":[[]]},{"id":"d06af21e.a68a2","type":"exec","z":"40a2ed.204d5d14","command":"cat /home/pi/rfid_reader/Access_Control/access_control.txt | grep '^rfid_reader:' | awk '{print $2}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Card Reader Activation","x":800,"y":3860,"wires":[["2bd11547.a41aaa"],[],[]]},{"id":"c6ce517d.43059","type":"exec","z":"40a2ed.204d5d14","command":"cat /home/pi/rfid_reader/Access_Control/access_control.txt | grep '^PollCard:' | awk '{print $2}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ISO14443_3_A_PollCard","x":800,"y":3920,"wires":[["6fa8d940.2d8e08"],[],[]]},{"id":"7136190a.d0c448","type":"exec","z":"40a2ed.204d5d14","command":"cat /home/pi/rfid_reader/Access_Control/access_control.txt | grep 'version:' | awk '{print $2 $3 $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Version","x":749,"y":3978.5556640625,"wires":[["e13365b8.f010e8"],[],[]]},{"id":"3b45f121.b324ce","type":"exec","z":"40a2ed.204d5d14","command":"cat /home/pi/rfid_reader/Access_Control/access_control.txt | grep '^nom:' | awk '{print $2}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"nom","x":739,"y":4036,"wires":[["93c94189.40dfb"],[],[]]},{"id":"cf9ae012.33068","type":"exec","z":"40a2ed.204d5d14","command":"cat /home/pi/rfid_reader/Access_Control/access_control.txt | grep '^prenom:' | awk '{print $2}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"prenom","x":749,"y":4096,"wires":[["8ad9fac3.b8d8d8"],[],[]]},{"id":"c1558ae3.3b97a8","type":"exec","z":"40a2ed.204d5d14","command":"cat /home/pi/rfid_reader/Access_Control/access_control.txt | grep '^increment:' | awk '{print $2}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Increment","x":748,"y":4154.5556640625,"wires":[["d0d651b1.0ab3e"],[],[]]},{"id":"8ad9fac3.b8d8d8","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"Prénom","group":"5dacab37.6a5484","order":5,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":1067,"y":4083,"wires":[[]]},{"id":"d0d651b1.0ab3e","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"Nombre de passage","group":"5dacab37.6a5484","order":5,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":1107,"y":4141,"wires":[[]]},{"id":"3499d1af.78fb8e","type":"exec","z":"40a2ed.204d5d14","command":"cat /home/pi/rfid_reader/Access_Control/access_control.txt | grep '^PollCard:' | awk '{print $2}'","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Open Door","x":758,"y":4222,"wires":[["4f2ec8e8.bf2df8","3f436750.b8f6f8"],[],[]]},{"id":"4f2ec8e8.bf2df8","type":"function","z":"40a2ed.204d5d14","name":"door-openning-function","func":"if (msg.payload == 0) {\n    msg.payload=1;\n} else {\n    msg.payload=0;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1022,"y":4209,"wires":[["8fa39818.5181d8","a6e96e8.d3a6a9","6d8c3785.991fe8","d6595603.0af5d8","a261f031.9f574","cddb2c4c.f9f9c"]]},{"id":"8fa39818.5181d8","type":"rpi-gpio out","z":"40a2ed.204d5d14","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1412,"y":4207,"wires":[]},{"id":"a6e96e8.d3a6a9","type":"trigger","z":"40a2ed.204d5d14","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1151.555564880371,"y":4382.44423866272,"wires":[["8fa39818.5181d8","d6595603.0af5d8","a261f031.9f574","cddb2c4c.f9f9c"]]},{"id":"554afe59.b18a6","type":"ping","z":"40a2ed.204d5d14","name":"ping","host":"8.8.8.8","timer":"1","x":348,"y":1372,"wires":[["428c82ef.63ac5c"]]},{"id":"428c82ef.63ac5c","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"Check Internet connection (ping 8.8.8.8)","group":"4044cd20.78be74","order":9,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":837,"y":1374,"wires":[[]]},{"id":"a3235525.5de5c8","type":"comment","z":"40a2ed.204d5d14","name":"Check Internet","info":"","x":377,"y":1336,"wires":[]},{"id":"3f436750.b8f6f8","type":"exec","z":"40a2ed.204d5d14","command":"cat /home/pi/rfid_reader/Access_Control/access_control.txt | grep '^PollCard:' | awk '{print $2}' >  /home/pi/music/play_entry.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Injection status in play_entry.txt","x":820,"y":4283,"wires":[[],[],[]]},{"id":"b74cd982.d00618","type":"exec","z":"40a2ed.204d5d14","command":"cd /home/pi/music; ./play_entry.sh | bash","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play audio - Welcome | Access denied","x":1241.0000457763672,"y":4459.777631759644,"wires":[[],[],[]]},{"id":"6d8c3785.991fe8","type":"delay","z":"40a2ed.204d5d14","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":927.2778091430664,"y":4458.555408477783,"wires":[["b74cd982.d00618"]]},{"id":"bec36187.80dfb","type":"comment","z":"40a2ed.204d5d14","name":"Automatic Light control","info":"","x":404.4444274902344,"y":1847.7777099609375,"wires":[]},{"id":"f57be9cc.51e418","type":"exec","z":"40a2ed.204d5d14","command":"sudo pkill -f main.py | gpio -g write 4 0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"OFF auto mode script","x":784.4443969726562,"y":1973.333251953125,"wires":[[],[],[]]},{"id":"946ac373.e83f6","type":"ui_button","z":"40a2ed.204d5d14","name":"","group":"6e9c51ff.a27a2","order":7,"width":"3","height":"1","passthru":false,"label":"Manual Light","color":"","bgcolor":"coral","icon":"fa-odnoklassniki","payload":"true","payloadType":"bool","topic":"","x":382.44439697265625,"y":1976.333251953125,"wires":[["f57be9cc.51e418","87f9fb9c.b3f728"]]},{"id":"9be4b7ff.b13648","type":"ui_button","z":"40a2ed.204d5d14","name":"","group":"6e9c51ff.a27a2","order":6,"width":"3","height":"1","passthru":false,"label":"Auto Light","color":"","bgcolor":"LightGreen","icon":"fa-eye","payload":"","payloadType":"str","topic":"","x":384.44439697265625,"y":1910.333251953125,"wires":[["d3a247e2.c19e78","7215297d.b88198"]]},{"id":"d3a247e2.c19e78","type":"exec","z":"40a2ed.204d5d14","command":"cd /home/pi/Smart-Security-Camera-NoSecurity/; ./camera_auto.sh | bash","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ON auto-mode script","x":784.4443969726562,"y":1908.333251953125,"wires":[[],[],[]]},{"id":"e0e872c7.1b989","type":"comment","z":"40a2ed.204d5d14","name":"Auto Security Mode","info":"","x":393.33331298828125,"y":2611.66650390625,"wires":[]},{"id":"176e4c9c.21d833","type":"exec","z":"40a2ed.204d5d14","command":"sudo pkill -f main.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"OFF-auto-mode-security-script","x":804.3332824707031,"y":2681.2220458984375,"wires":[[],[],[]]},{"id":"9569fdc0.bdc3d","type":"ui_button","z":"40a2ed.204d5d14","name":"","group":"4d185812.bed448","order":2,"width":"3","height":"1","passthru":false,"label":"security off","color":"","bgcolor":"coral","icon":"fa-unlock","payload":"true","payloadType":"bool","topic":"","x":372.3332824707031,"y":2684.2220458984375,"wires":[["176e4c9c.21d833","af7939ae.f6d958","be3c4942.01aaf8"]]},{"id":"9ba8a42a.151938","type":"ui_button","z":"40a2ed.204d5d14","name":"","group":"4d185812.bed448","order":1,"width":"3","height":"1","passthru":false,"label":"security mode","color":"white","bgcolor":"LightGreen","icon":"fa-lock","payload":"","payloadType":"str","topic":"","x":382.3332824707031,"y":2756.22216796875,"wires":[["ab189752.2df998","ce984148.af221","f00e9332.2b7ea"]]},{"id":"ab189752.2df998","type":"exec","z":"40a2ed.204d5d14","command":"cd /home/pi/Smart-Security-Camera/; ./camera_secured.sh | bash","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ON-auto-mode-security-script","x":804.3332824707031,"y":2753.2220458984375,"wires":[[],[],[]]},{"id":"fa804767.020b38","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"Object 1","group":"eb9edb9e.4ba748","order":5,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":1456,"y":2993.666748046875,"wires":[[]]},{"id":"e6bfd1ef.a6298","type":"exec","z":"40a2ed.204d5d14","command":"cd /home/pi/pi-deep-learning/; cat deep_learning_analysis.txt | grep '^1.' | awk '{print $1 $2 $3 $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"object 1","x":1281.99995803833,"y":3076.6667079925537,"wires":[["fa804767.020b38"],[],[]]},{"id":"7a318b51.7bda24","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"Object 2","group":"eb9edb9e.4ba748","order":6,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":1453.6666259765625,"y":3046,"wires":[[]]},{"id":"64a294f9.bae83c","type":"exec","z":"40a2ed.204d5d14","command":"cd /home/pi/pi-deep-learning/; cat deep_learning_analysis.txt | grep '^2.' | awk '{print $1 $2 $3 $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"object 2","x":1279.6666259765625,"y":3127,"wires":[["7a318b51.7bda24"],[],[]]},{"id":"ea486a7f.537ec8","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"Object 3","group":"eb9edb9e.4ba748","order":7,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":1451.6666259765625,"y":3099.333251953125,"wires":[[]]},{"id":"f1960d0e.58e5f","type":"exec","z":"40a2ed.204d5d14","command":"cd /home/pi/pi-deep-learning/; cat deep_learning_analysis.txt | grep '^3.' | awk '{print $1 $2 $3 $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"object 3","x":1279.6666259765625,"y":3177.333251953125,"wires":[["ea486a7f.537ec8"],[],[]]},{"id":"f8e359ed.e47948","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"Object 4","group":"eb9edb9e.4ba748","order":8,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":1449.6666259765625,"y":3155.999755859375,"wires":[[]]},{"id":"926664db.871ae8","type":"exec","z":"40a2ed.204d5d14","command":"cd /home/pi/pi-deep-learning/; cat deep_learning_analysis.txt | grep '^4.' | awk '{print $1 $2 $3 $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"object 4","x":1279.6666259765625,"y":3227.999755859375,"wires":[["f8e359ed.e47948"],[],[]]},{"id":"e11c478a.85b638","type":"ui_text_input","z":"40a2ed.204d5d14","name":"","label":"Object 1","group":"eb9edb9e.4ba748","order":9,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":1449.333251953125,"y":3213.66650390625,"wires":[[]]},{"id":"32e3c62c.669f0a","type":"exec","z":"40a2ed.204d5d14","command":"cd /home/pi/pi-deep-learning/; cat deep_learning_analysis.txt | grep '^5.' | awk '{print $1 $2 $3 $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"object 5","x":1281.333251953125,"y":3278.66650390625,"wires":[["e11c478a.85b638"],[],[]]},{"id":"2daf45c1.1cff2a","type":"ui_text","z":"40a2ed.204d5d14","group":"75db3067.195fc","order":2,"width":"6","height":"4","name":"","label":"Display DP analysis .txt","format":"{{msg.payload}}","layout":"col-center","x":1042.6666259765625,"y":3354.999755859375,"wires":[]},{"id":"3a9ed5a1.d304ca","type":"exec","z":"40a2ed.204d5d14","command":"sudo aplay /home/pi/music/jarvis.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play audio - JARVIS IA","x":854.9999847412109,"y":3427.333059310913,"wires":[[],[],[]]},{"id":"ab678fc6.233d6","type":"ui_template","z":"40a2ed.204d5d14","group":"75db3067.195fc","name":"display-project","order":1,"width":"6","height":"5","format":"<!DOCTYPE html>\n<html>\n    <body>\n            <iframe width=\"300\" height=\"230\" src=\"https://www.youtube.com/embed/T5r8nc63_H0\" frameborder=\"0\" allow=\"autoplay; encrypted-media\" allowfullscreen></iframe>\n    </body>\n </html>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":381.11114501953125,"y":3499.9999237060547,"wires":[[]]},{"id":"7eb984b1.bea3dc","type":"delay","z":"40a2ed.204d5d14","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":583.888916015625,"y":4842.6669063568115,"wires":[["32d290ef.9f31f"]]},{"id":"69fcd59a.0f473c","type":"comment","z":"40a2ed.204d5d14","name":"My Project","info":"","x":362.2221984863281,"y":3456.66650390625,"wires":[]},{"id":"cddb2c4c.f9f9c","type":"rpi-gpio out","z":"40a2ed.204d5d14","name":"","pin":"15","set":"","level":"0","freq":"","out":"pwm","x":1411.22216796875,"y":4346.55517578125,"wires":[]},{"id":"a261f031.9f574","type":"rpi-gpio out","z":"40a2ed.204d5d14","name":"","pin":"13","set":true,"level":"0","freq":"","out":"out","x":1411.7935791015625,"y":4301.55517578125,"wires":[]},{"id":"d6595603.0af5d8","type":"rpi-gpio out","z":"40a2ed.204d5d14","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":1411.22216796875,"y":4254.55517578125,"wires":[]},{"id":"46c34042.cd3d7","type":"exec","z":"40a2ed.204d5d14","command":"sudo aplay /home/pi/music/alarm_system.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play audio - activating alarm system","x":824.4444580078125,"y":2893.6667041778564,"wires":[[],[],[]]},{"id":"ce984148.af221","type":"exec","z":"40a2ed.204d5d14","command":"sudo aplay /home/pi/music/activate.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play audio - ActivateFX","x":785.5555419921875,"y":2812.22216796875,"wires":[[],[],[]]},{"id":"f00e9332.2b7ea","type":"delay","z":"40a2ed.204d5d14","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":2834.4443359375,"wires":[["46c34042.cd3d7"]]},{"id":"af7939ae.f6d958","type":"exec","z":"40a2ed.204d5d14","command":"sudo aplay /home/pi/music/shutdown.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play audio - offFX","x":764.4443969726562,"y":2627.777587890625,"wires":[[],[],[]]},{"id":"87f9fb9c.b3f728","type":"exec","z":"40a2ed.204d5d14","command":"sudo aplay /home/pi/music/tv_shutdown.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play audio - offFX","x":1056.6665802001953,"y":1974.11097240448,"wires":[[],[],[]]},{"id":"480c92d6.162fdc","type":"exec","z":"40a2ed.204d5d14","command":"sudo aplay /home/pi/music/shutdown.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play audio - offFX","x":805.5555419921875,"y":4900.4443359375,"wires":[[],[],[]]},{"id":"50ff9bb9.00df84","type":"exec","z":"40a2ed.204d5d14","command":"sudo aplay /home/pi/music/deep_learning_research.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play audio - activating DL","x":786.6666030883789,"y":3003.3332538604736,"wires":[[],[],[]]},{"id":"7215297d.b88198","type":"exec","z":"40a2ed.204d5d14","command":"sudo aplay /home/pi/music/activate.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play audio - onFX","x":1057.7777099609375,"y":1907.7777099609375,"wires":[[],[],[]]},{"id":"be3c4942.01aaf8","type":"exec","z":"40a2ed.204d5d14","command":"sudo pkill -f alarm.py | gpio -g write 17 0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stop alarm script","x":766.6666259765625,"y":2567.777587890625,"wires":[["7d478412.8dcd3c"],[],[]]},{"id":"7d478412.8dcd3c","type":"exec","z":"40a2ed.204d5d14","command":"gpio -g write 17 0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Confirm Stop alarm","x":984.6666259765625,"y":2567.777587890625,"wires":[[],[],[]]},{"id":"d2b0c36d.94cf2","type":"exec","z":"40a2ed.204d5d14","command":"sudo aplay /home/pi/music/camera_shutter.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play audio - camera shutter","x":1076,"y":2365,"wires":[[],[],[]]},{"id":"31f1ceab.3a8f32","type":"ui_button","z":"40a2ed.204d5d14","name":"Play Music","group":"f131c685.178618","order":3,"width":0,"height":0,"passthru":false,"label":"Play music","color":"","bgcolor":"MediumAquaMarine ","icon":"fa-music","payload":"","payloadType":"str","topic":"","x":418,"y":4668,"wires":[["df009c9a.612f"]]},{"id":"df009c9a.612f","type":"exec","z":"40a2ed.204d5d14","command":"aplay /home/pi/music/weeknd.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play music","x":790,"y":4668,"wires":[[],[],[]]},{"id":"c35496b0.9b5598","type":"comment","z":"40a2ed.204d5d14","name":"Music","info":"","x":399,"y":4637,"wires":[]},{"id":"b28e4bb2.da6a58","type":"ui_button","z":"40a2ed.204d5d14","name":"Stop Music","group":"f131c685.178618","order":4,"width":0,"height":0,"passthru":false,"label":"Stop music","color":"","bgcolor":"LightSalmon","icon":"fa-stop","payload":"","payloadType":"str","topic":"","x":418,"y":4714,"wires":[["32ac9cb2.5711f4"]]},{"id":"32ac9cb2.5711f4","type":"exec","z":"40a2ed.204d5d14","command":"sudo pkill -f aplay;","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stop music","x":790,"y":4714,"wires":[[],[],[]]},{"id":"99567a35.4e1468","type":"exec","z":"40a2ed.204d5d14","command":"sudo aplay /home/pi/music/refresh.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play audio - refreshing","x":748,"y":2484,"wires":[[],[],[]]},{"id":"4d58500e.e4fc","type":"ui_chart","z":"40a2ed.204d5d14","name":"","group":"8f861f58.38f9a","order":2,"width":0,"height":0,"label":"CPU graph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":768,"y":599,"wires":[[],[]]},{"id":"804ecdf3.c2b06","type":"comment","z":"40a2ed.204d5d14","name":"AI","info":"","x":369,"y":3231,"wires":[]},{"id":"4c5a529a.ab0c2c","type":"ui_button","z":"40a2ed.204d5d14","name":"","group":"12682199.d8c35e","order":2,"width":0,"height":0,"passthru":false,"label":"Who am I ?","color":"","bgcolor":"DarkCyan ","icon":"fa-users","payload":"","payloadType":"str","topic":"","x":386.99998474121094,"y":3265.6664714813232,"wires":[["3a9ed5a1.d304ca"]]},{"id":"b50cc0bc.4eda1","type":"ui_template","z":"40a2ed.204d5d14","group":"eb9edb9e.4ba748","name":"display-capture","order":1,"width":"6","height":"5","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div align=\"center\">\n            <img ng-src=\"{{msg.payload}}\" width=\"280\"><br/>\n            <md-button href=\"/image.jpg\" target=\"_blank\" class=\"md-raised md-warn\">FULL SCREEN</md-button>\n            <md-button href=\"http://192.168.0.48:5000\" target=\"_blank\" class=\"md-raised md-warn\">LIVE CAMERA</md-button>\n        </div>\n        \n    </body>\n </html>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1048,"y":2490,"wires":[[]]},{"id":"c4bc2946.d427b8","type":"ui_template","z":"40a2ed.204d5d14","group":"12682199.d8c35e","name":"display-ia","order":1,"width":"6","height":"5","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div align=\"center\">\n            <img ng-src=\"/ia.png\" width=\"200\"><br/>\n        </div>\n    </body>\n </html>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":816,"y":3380,"wires":[[]]},{"id":"94836d1b.3a139","type":"ui_template","z":"40a2ed.204d5d14","group":"f131c685.178618","name":"display-cover-music","order":1,"width":"6","height":"5","format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div align=\"center\">\n            <img ng-src=\"/music.png\" width=\"270\" ><br/>\n        </div>\n    </body>\n </html>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":820,"y":4623,"wires":[[]]},{"id":"3003787f.3d15c8","type":"ui_group","z":"","name":"Rpi Temperature °C","tab":"5c8c4c92.0e3a94","order":1,"disp":true,"width":"6","collapse":false},{"id":"4044cd20.78be74","type":"ui_group","z":"","name":"System Information","tab":"e367a4fd.99e5b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f87b783c.658dc8","type":"ui_group","z":"","name":"Light control","tab":"e367a4fd.99e5b8","order":5,"disp":true,"width":"6","collapse":false},{"id":"8f861f58.38f9a","type":"ui_group","z":"","name":"CPU","tab":"5c8c4c92.0e3a94","order":2,"disp":true,"width":"6","collapse":false},{"id":"f8cb3845.296f08","type":"ui_group","z":"","name":"System Information","tab":"e5e7055b.866478","order":1,"disp":true,"width":"6"},{"id":"46375daf.1f23a4","type":"ui_group","z":"","name":"Memory ROM","tab":"5c8c4c92.0e3a94","order":4,"disp":true,"width":"6","collapse":false},{"id":"3048d3fb.b3569c","type":"ui_group","z":"","name":"Memory RAM","tab":"5c8c4c92.0e3a94","order":3,"disp":true,"width":"6","collapse":false},{"id":"eb9edb9e.4ba748","type":"ui_group","z":"","name":"Artificial Intelligence","tab":"f2ec7207.27793","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d185812.bed448","type":"ui_group","z":"","name":"Secure Mode","tab":"e367a4fd.99e5b8","order":6,"disp":true,"width":"6","collapse":false},{"id":"5dacab37.6a5484","type":"ui_group","z":"","name":"RFID","tab":"e367a4fd.99e5b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"6e9c51ff.a27a2","type":"ui_group","z":"","name":"Comfort Mode","tab":"e367a4fd.99e5b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"75db3067.195fc","type":"ui_group","z":"","name":"My projects","tab":"6bc33a6e.c5f374","order":1,"disp":true,"width":"6","collapse":false},{"id":"f131c685.178618","type":"ui_group","z":"","name":"Play Music","tab":"e3098eb9.becee","order":1,"disp":true,"width":"6","collapse":false},{"id":"12682199.d8c35e","type":"ui_group","z":"","name":"Artificial intelligence","tab":"e367a4fd.99e5b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"5c8c4c92.0e3a94","type":"ui_tab","z":"","name":"Capteurs RPi","icon":"dashboard","order":2},{"id":"e367a4fd.99e5b8","type":"ui_tab","z":"","name":"HOME Control","icon":"fa-home","order":3},{"id":"e5e7055b.866478","type":"ui_tab","z":"","name":"System","icon":"computer","order":1},{"id":"f2ec7207.27793","type":"ui_tab","z":"","name":"Image processing","icon":"fa-cogs","order":4},{"id":"6bc33a6e.c5f374","type":"ui_tab","z":"","name":"Projects","icon":"fa-briefcase","order":5},{"id":"e3098eb9.becee","type":"ui_tab","z":"","name":"Music","icon":"fa-music","order":6}]